In [1]:
import pandas as pd

# Load data
co_authorships = pd.read_csv('output/co_authorships.csv', delimiter=';')
productions = pd.read_csv('output/processed_productions.csv', delimiter=';')

# Convert year column to integer
productions['AN_BASE'] = productions['AN_BASE'].astype(int)

# Merge dataframes on production id
merged = pd.merge(co_authorships, productions, left_on='PROD_ID', right_on='ID_ADD_PRODUCAO_INTELECTUAL')

# Group by year and co-authors pair, count collaborations
collabs_per_year = merged.groupby(['AUTHOR_1', 'AUTHOR_2', 'AN_BASE']).size().reset_index(name='collabs_count')

# Pivot this DataFrame to have years as columns, fill missing values with 0
collabs_per_year_pivoted = collabs_per_year.pivot_table(index=['AUTHOR_1', 'AUTHOR_2'], 
                                                        columns='AN_BASE', 
                                                        values='collabs_count', 
                                                        fill_value=0).reset_index()

# Now collabs_per_year_pivoted contains each author pair along with collaboration counts per year.

/var/folders/k4/0yt_dx8d7jld184ztkxzmg040000gn/T/ipykernel_18600/589332818.py:5: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  productions = pd.read_csv('output/processed_productions.csv', delimiter=';')

AN_BASE  AUTHOR_1  AUTHOR_2  2017  2018  2019  2020
0               0       946     0     0     0     1
1               0       948     0     0     1     1
2               0      1389     0     1     0     0
3               0      2312     0     0     3     1
4               0      2459     0     0     2     0

In [7]:
collabs_per_year_pivoted.to_csv('output/co_author_collabs_per_year.csv', index=False)